build/
*.so
__pycache__
data/ppi/
data/reddit
data/yelp
data/amazon
data/flickr
data/open_graph_benchmark/ogbn-products
cython_sampler.cpp
cython_utils.cpp
norm_aggr.cpp
*.chkpt.*
*.pickle
timeline.json
checkpoint
tf_log/
models/
*ignore*
*.pyc
data_cpp
obj/
ipdps19_cpp/train
pytorch_models
log_train
tmp.pkl
